html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-weight: normal;
  background-color: #c9b5ab;
  line-height: 1.5;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
}

nav ol {
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: .8rem;
}

figure + p {
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

footer {
  font-style: normal;
  font-size: .8rem;
}

ol {
  list-style-type: lower-greek;
}

main p:last-of-type {
  font-style: italic;
}

dt {
  font-weight: bold;
}

ul {
  list-style-type: circle;
  font-size: .8rem;
}
